@import "reset.css";
/* title */
@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&family=Work+Sans&display=swap");
/* font-family: 'Fugaz One', cursive; */
/* font-size: 57px */

/* sub title */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
/* font-family: 'Work Sans', sans-serif; */
/* font-size: 45px */

/* content */
@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
/* font-family: 'Mulish', sans-serif; */
/* font-size: 36px */

body {
  margin: 10px;
}

main {
  background-repeat: no-repeat;
  background-size: cover;
  overflow: scroll;
}
/* menu */
body > nav {
  border-radius: 6px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  font-family: "Fugaz One", cursive;
  font-size: 57px;
  box-shadow: 2px 7px 15px 8px rgba(0, 0, 0, 0.3);
  backdrop-filter: saturate(180%) blur(20px);
}

/* menu -> weather */
#weather {
  font-size: xx-large;
}

/* menu -> clock */
#clock {
  font-size: xx-large;
}

/* to-do list */
body > main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
}

/* to-do list container */
body > main > div {
  margin-top: 60px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 60px;
  border: 0;
  border-radius: 6px;
  box-shadow: 2px 7px 15px 8px rgba(0, 0, 0, 0.3);
  backdrop-filter: saturate(180%) blur(20px);
}

/* to-do list title */
body > main > div > div {
  padding: 40px;
  font-family: "Work Sans", sans-serif;
  font-size: 45px;
}

/* to-do list content */
body > main > div.todo > div.todoList > ul > span {
  font-family: "Mulish", sans-serif;
  font-size: 35px;
}

/* to-do list container */
body > main > div.todo > div.todoList {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* hidden */
.hidden {
  display: none;
}

input {
  border: 1px;
  border-radius: 15px;
  outline: solid;
  padding-left: 10px;
  background-color: white;
  font-size: 30px;
}

/* fade-in */
.fade-in {
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* fade-out */
.fade-out {
  animation: fadeout 2s;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* moving-up */
.moving-up {
  animation: movingup 2s ease-in-out;
}

@keyframes movingup {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

/* login-success */
.login-success {
  animation: movingup 2s ease-in-out, fadeout 2s;
}
